name: SonarCloud
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build, Test and Analyze
    runs-on: windows-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Install SonarScanner
        shell: powershell
        run: |
          dotnet tool install --global dotnet-sonarscanner

      - name: SonarCloud Begin
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner begin `
            /k:"GuillemSoto_DGU-Ac03-Code-Refactoring" `
            /o:"guillemsoto" `
            /d:sonar.login="$env:SONAR_TOKEN" `
            /d:sonar.sources="DGU_IntegracioContinua_BLOC2_AC03" `
            /d:sonar.tests="TestCodeRefactor" `
            /d:sonar.cs.opencover.reportsPaths="**/TestResults/**/coverage.opencover.xml"

      - name: Build
        run: |
          dotnet build DGU_IntegracioContinua_BLOC2_AC03/DGU_IntegracioContinua_BLOC2_AC03.sln

      - name: Test with Coverage
        run: |
          dotnet test TestCodeRefactor/TestRefactor.csproj `
            --no-build `
            --collect:"XPlat Code Coverage" `
            -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover

      - name: SonarCloud End
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner end /d:sonar.login="$env:SONAR_TOKEN"
